{% capture navbar-classes %}navbar-home{% endcapture%}
{%- include navbar.html -%}

<header class="home">
  <div class="container">
    <h2 class="title">
      XXIX Incontro di Logica AILA 2026
    </h2>
    <h4 class="subtitle">
      Roma, {{ site.date }}
    </h4>


    {% if page.program %}
    <a href="#program" class="btn btn-lg btn-info" role="button">Program</a>
    {% elsif page.accepted %}
    <a href="{{ 'accepted' | relative_url }}" class="btn btn-lg btn-info" role="button">Accepted</a>
    {% elsif page.submit %}
    <a href="#submission" class="btn btn-lg btn-primary" role="button">Submit</a>
    {% endif %}
  </div>
</header>
<p style="text-align: right; padding: 0 15px 0;">{{ site.data.credits.bg-img-copyright }}</p>
